<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Media</key>
	<array>
		<dict>
			<key>description</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>iconURL</key>
			<string></string>
			<key>mimeType</key>
			<string></string>
			<key>mediaURL</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>iconURL</key>
			<string></string>
			<key>mimeType</key>
			<string></string>
			<key>mediaURL</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>iconURL</key>
			<string></string>
			<key>mimeType</key>
			<string></string>
			<key>mediaURL</key>
			<string></string>
		</dict>
	</array>
	<key>Scenes</key>
	<array>
		<dict>
			<key>hueBulb</key>
			<dict>
				<key>bulbId</key>
				<string>1</string>
			</dict>
			<key>device</key>
			<dict>
				<key>ip</key>
				<string>192.168.1.87</string>
			</dict>
		</dict>
		<dict>
			<key>hueBulb</key>
			<dict>
				<key>bulbId</key>
				<string>2</string>
			</dict>
			<key>device</key>
			<dict>
				<key>ip</key>
				<string>192.168.1.29</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
