<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Media</key>
	<array>
		<dict>
			<key>description</key>
			<string>Kenny Beltrey</string>
			<key>title</key>
			<string>Hydrate</string>
			<key>iconURL</key>
			<string>http://ec2-54-201-108-205.us-west-2.compute.amazonaws.com/samples/media/sample3.png</string>
			<key>mimeType</key>
			<string>audio/mp3</string>
			<key>mediaURL</key>
			<string>http://ec2-54-201-108-205.us-west-2.compute.amazonaws.com/samples/media/hydrate.mp3</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Franz Schubert</string>
			<key>title</key>
			<string>Fantasy in C Major</string>
			<key>iconURL</key>
			<string>http://ec2-54-201-108-205.us-west-2.compute.amazonaws.com/samples/media/sample.png</string>
			<key>mimeType</key>
			<string>audio/mp3</string>
			<key>mediaURL</key>
			<string>http://ec2-54-201-108-205.us-west-2.compute.amazonaws.com/samples/media/fantasy_in_c_major.mp3</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Ludwig van Beethoven</string>
			<key>title</key>
			<string>Symphony</string>
			<key>iconURL</key>
			<string>http://ec2-54-201-108-205.us-west-2.compute.amazonaws.com/samples/media/sample2.png</string>
			<key>mimeType</key>
			<string>audio/mp3</string>
			<key>mediaURL</key>
			<string>http://ec2-54-201-108-205.us-west-2.compute.amazonaws.com/samples/media/symphony.mp3</string>
		</dict>
	</array>
	<key>Scenes</key>
	<array>
		<dict>
			<key>iBeacon</key>
			<dict>
				<key>uuid</key>
				<string>00001111-2222-3333-4444-555566667777</string>
			</dict>
			<key>hueBulb</key>
			<dict>
				<key>2</key>
				<string>2</string>
				<key>3</key>
				<string>3</string>
			</dict>
			<key>device</key>
			<dict>
				<key>name</key>
				<string>adnan tv</string>
				<key>type</key>
				<string>webostv</string>
			</dict>
			<key>wemoSwitch</key>
			<dict>
				<key>udn</key>
				<string>uuid:Socket-1_0-221434K0100D1D</string>
			</dict>
		</dict>
		<dict>
			<key>iBeacon</key>
			<dict>
				<key>uuid</key>
				<string>88889999-aaaa-bbbb-cccc-ddddeeeeffff</string>
			</dict>
			<key>wink</key>
			<dict>
				<key>bulbId</key>
				<string>459599</string>
			</dict>
			<key>hueBulb</key>
			<dict>
				<key>1</key>
				<string>1</string>
			</dict>
			<key>device</key>
			<dict>
				<key>name</key>
				<string>Living Room - Sonos PLAY:1 Media Renderer</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
